@charset "utf-8";
/* CSS Document */
body{
	font-family:'微軟正黑體';
}
#right{
	top: 0%;
	left: 0%;
	position: absolute;
	width:100%;
	height:100%;
	background:white;
}
#icon{
	top: 0%;
	left: 0%;
	position: absolute;
	width:100%;
	height:100%;
}
#round{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #FF4081;
	position: absolute;
	border:none;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 black;
	animation: round;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	transform: scale(0,0) rotate(45deg);
	font-size: 400%;
}
#round:hover{
	color:gold;
	filter: brightness(1.5)
}
@keyframes round{
	0%{
		top:80%
	}
	100%{
		transform: scale(1,1) rotate(45deg);
	}
}
#bread{
	position: absolute;
	width: 250px;
	height: 80px;
	background:linear-gradient(#FA8081,#FF4081);
	border-radius: 50%;
	box-shadow: 3px 3px 5px;
	animation: bread;
	animation-duration: 3s;
	animation-fill-mode: both;
	transform: scale(0,1);
	line-height: 80px;
	font-size: 150%;
}
a{
	color: aqua;
	text-decoration: none;
	font-family: '微軟正黑體';
	animation-duration:100ms;
}
a:hover{
	color: black;
}
@keyframes bread{
	0%{
		left:-50%;
	}
	100%{
		border-radius: 7%;
		transform: scale(1,1)
	}
}
#searchend{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 black;
	animation: round1;
	animation-duration: 3s;
	animation-fill-mode: both;
	transform: scale(0,0);
}
#b0{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 black;
	animation: round1;
	animation-duration: 1.5s;
	animation-fill-mode: both;
	transform: scale(0,0);
}
#b1{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 black;
	animation: round1;
	animation-duration: 4.5s;
	animation-fill-mode: both;
	transform: scale(0,0);
}
#b2{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 3px 3px 5px 0 black;
	animation: round1;
	animation-duration: 4.5s;
	animation-fill-mode: both;
	transform: scale(0,0);
}
.bb{
	animation-name: round1;
	font-size: 150%;
	font-family: '微軟正黑體';
	color: white;
	background:red;
}
.bb:hover{
	color:blue;
	background:#FF60C2;
}
@keyframes round1{
	0%{
		top:-5%;
	}
	100%{
		transform: scale(1,1);
	}
}
#searchtext{
	position: absolute;
	font-size: 140%;
	color: white;
	line-height: 100px;
	cursor: pointer;
	font-family:'微軟正黑體';
}
#st0{
	position: absolute;
	font-size: 140%;
	color: white;
	line-height: 100px;
	cursor: pointer;
	font-family:'微軟正黑體';
}
#st1{
	position: absolute;
	font-size: 140%;
	color: white;
	line-height: 100px;
	cursor: pointer;
	font-family:'微軟正黑體';
}
#st2{
	position: absolute;
	font-size: 140%;
	color: white;
	line-height: 100px;
	cursor: pointer;
	font-family:'微軟正黑體';
}
.all{
	position: relative;
	width: 98%;
	height: 40%;
	margin: 5% 1% 5% 1%;
	background: rgba(114, 213, 255,0.7);
	overflow: auto;
	border:outset;
	border-color: red;
}
.img{
	position: absolute;
	height: 86.5%;
	top: 5%;
	left: 1%;
	animation-name: img;
	animation-duration: 2s;
	animation-fill-mode: both;
}
@keyframes img {
	0%{
		top:-100%;
	}
}
.h1{
	position: relative;
	top: 0%;
	width: 20%;
	margin: 2% 0% 0% 0%;
	left: 30%;
	animation-name:img;
	animation-duration:2s;
	animation-fill-mode: both;
}
.aa{
	width: 10%;
	color: red;
	cursor: pointer;
	border:outset;
	border-color: red;
	background:linear-gradient(white,rgba(0,0,0,0.4));
}
.h2{
	position: relative;
	width: 20%;
	margin: 2% 0 0 0;
	left: 37%;
	text-align: left;
	animation-name:word;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.h3{
	top: 0%;
	position: absolute;
	width: 20%;
	margin: 2% 0 0 0;
	left: 60%;
	text-align: left;
	animation-name:wordr;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.th1{
	top:10%;
}
.th2{
	top:20%;
}
.th3{
	top:35%;
}
@keyframes word {
	0%{
		left:0%;
	}
}
@keyframes wordr {
	0%{
		left:100%;
	}
}
@media(max-width:1439px){
	.img{
		left: 20%;
		transform: rotateX(-100%)
	}
	.h1{
		top: 100%;
	}
	.h2{
		width: 22%;
		top: 100%;
	}
	.h3{
		top: 100%;
	}
	.aa{
		top: 100%;
	}
	.th1{
		top:110%;
	}
	.th2{
		top:120%;
	}
	.th3{
		top:135%;
	}
}