html{
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 120%;
  user-select: none;
}
.pa{
  position: absolute;
  overflow: hidden;
}
.pen_color,.pen_size{
  position: relative;
  display: inline-block;
  margin: 5px 5px 1px 5px;
  width: 36px;
  height: 36px;
  border-style: solid;
  border-color: gray;
  cursor: pointer;
  background: white;
  overflow: hidden;
}
.pen_size_show{
  background: red;
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
.tool{
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.stamp{
  pointer-events: auto;
  cursor: pointer;
}
.gray{
  width: 150px;
  height: 150px;
  display: inline-block;
  pointer-events: none;
  border-style: solid;
  border-color: aqua;
  margin: 5px;
}
.over{
  position: relative;
  height: 60px;
  width: 250px;
  background: #4F81BD;
  border-style: solid;
  border-color: #385D8A;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 150%;
  color: white;
  cursor: pointer;
  left: 50%;
  line-height: 60px;
  transform: translateX(-50%);
}
.over:hover{
  background: rgb(117, 169, 233);
  color: rgb(209, 209, 209);
  border-color: rgb(23, 62, 107);
}