html{
  font-family: "微軟正黑體";
  font-weight: bold;
  font-size: 120%;
  user-select: none;
}
.pa{
  position: absolute;
  overflow: hidden;
}
.pen_color,.pen_size{
  position: relative;
  display: inline-block;
  margin: 5px 5px 1px 5px;
  width: 36px;
  height: 36px;
  border-style: solid;
  border-color: gray;
  cursor: pointer;
  background: white;
  overflow: hidden;
}
.pen_size_show{
  background: red;
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
.tool{
  cursor: pointer;
  width: 70px;
  height: 70px;
}