@charset "utf-8";
/* CSS Document */
html{
	font-family: "微軟正黑體";
	user-select: none;
}
body{
	text-align: center;
}
.in{
	border-color:rgb(0,0,0);
}
#canvas0{
	pointer-events: none;
}
.canvas{
	position: absolute;
	right: 50%;
	transform: translateX(50%);
}