canvas{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: none;
}
div{
  position: absolute;
  width: 60px;
  left: 5px;
}
.ui-slider-handle{
  cursor: pointer;
}